body {
  background-color: #d1d1d1;
  color: #7b00a9;
  font-family: 'Oswald', sans-serif;
  padding: 15px;
  padding-top: 150px;
}

nav {
  background-color: #d1d1d1;
}

nav a {
  width: 200px;
  margin: auto;
  color: #7b00a9;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #d1d1d1;
}

button {
  color: #7b00a9;
  background-color: #d1d1d1;
  border: 2px solid #7b00a9;
  border-radius: 40px;
  padding: 25px 50px;
  text-decoration: none;
  cursor: pointer;
}

footer {
  margin-top: 30px;
}

/* FONTS */
.lt-font {
  font-weight: 300;
  padding-top: 0.5em;
}

.lg-font {
  font-family: 'Cormorant', serif;
}

/* UTILITY CLASSES */
.v-align-center {
  height: 100%;
  padding: 5% 0;
}

.row {
  display: flex;
}

/* NAV SECTION */
#insta,
#email {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

#social {
  position: absolute;
  display: block;
  float: left;
}

#logo {
  width: 200px;
}

/* INTRO SECTION */
#intro-image {
  height: 100%;
  min-height: 100%;
  object-fit: cover;
}

hr {
  border-top: 1px solid #7b00a9;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#intro-text {
  max-height: 100%;
}

/* QUOTE BOX SECTION */
#quote-box-container {
  background-color: #fff;
  margin-top: 50px;
  height: 20rem;
}

#quote-box {
  background-color: #fff;
  font-size: 2rem;
  width: 100%;
}

#blue-flower {
  margin-top: 50px;
  margin-left: 50%;
  height: 45px;
  width: 45px;
}

.bld-font {
  font-weight: 600;
}

/* ABOUT SECTION */
#about h1 {
  margin: 3rem 0;
}

.about-image {
  width: 150px;
}

section {
  padding-left: 5%;
  padding-right: 5%;
  width: 30%;
}

section p {
  margin-top: 1.5rem;
}

section h3 {
  margin-top: 1.5rem;
}

/* TESTIMONIALS */
#testimonial-container {
  background-color: #fff;
  height: 100%;
}

.testimonial-box {
  display: inline;
}
.testimonial {
  background-color: #fff;
  height: 100%;
  vertical-align: middle;
}

/* LARGE SCREENS */
@media (min-width: 1201px) {
  h2 {
    font-size: 200%;
  }
  .lt-font,
  .bld-font {
    font-size: 150%;
  }
}
